img {
    width: 350px;
}

h2 {
    color: blueviolet;
    font-style:italic;
}

h3, h4, h5, h6, h7, h8 {
    color:crimson;
    font-style:italic;
}

a {
    font-weight: bold;
}

li {
    display: inline-table;
    margin: 30px;
    border-top: 1px solid black;
    border-bottom: 3px dotted blue;
    padding: 10px 20px 30px 40px;
    width: 300px;
}